html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  padding: 0 .75em;
  font-family: Georgia, sans-serif;
}

nav {
  display: block;
  background-color: #ffe500;
  text-align: center;
  padding: .2em .5em .3em;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: .3em 0;
}

nav li a {

  font-size: 1.125rem;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: .2em .5em .3em;
  background-color: rgba(47, 45, 19, .4);
  border-radius: 4px;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Sigmar One", cursive;
  color: #b20953;
  margin: 0;
}

main h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
}

footer {
  display: block;
  background-color: #ffe500;
  padding-top: .75em;
  text-align: center;
}

a:hover {
  background-color: #cc1465;
}

.current {
  background-color: #b20953;
}

img {
  display: block;
  width: 100%;
}
